/*

The jQuery UI Month Picker Version 2.2

https://github.com/KidSysco/jquery-ui-month-picker/

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation;
version 3.0. This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public
License along with this library; if not, visit
http://www.gnu.org/licenses/old-licenses/lgpl-2.1.txt.
*/

.month-picker {
    width: 200px;
    display: none;
    position: absolute;
    z-index: 9999;
}
.month-year-input {
    width: 60px;
}
.month-picker .year-container-all {
    cursor: pointer;
}
.month-picker-year-table .year-container-all {
    text-align: center;
}
.month-picker-year-table .year-title, .month-picker-year-table .year-container {
    float: left;
    display: inline-block;
}
.month-picker-year-table .year-title {
    margin-left: 20px;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
}
.month-picker-year-table .year {
    margin-right: 15px;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
}
.month-picker-year-table .year-container {
    width: 50px;
}
.month-picker-year-table .previous-year {
    width: 35px;
}
.month-picker-year-table .next-year {
    width: 35px;
    text-align: right;
}
.month-picker-year-table button {
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    cursor: pointer;
}
.month-picker-year-table .year-container {
    text-align: center;
}
.month-picker-month-table td {
    height: 35px;
    text-align: center;
    font-size: 12px;
}
.month-picker-open-button {
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}
.month-picker-invalid-message {
    display: none;
    background-color: Yellow;
}
.month-picker-disabled {
    background-color: #e1e1e1;
}
